<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= userID %> | Card Heroes</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/admin.css" />
  <link rel="stylesheet" href="/styles/card.css" />
  <link rel="stylesheet" href="/styles/header.css">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://kit.fontawesome.com/519d339fcd.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- header -->
    <%- include('partials/_header') %>

  <main>
    <h1>My Favourites</h1>
    <div class="cards">
    <% for (let card of favourites) { %>
      <div class="card-container">
        <%- include('./partials/_card.ejs', {card: card}) %>
        <div class="info">
          <i class="fa-solid fa-star favourite-icon" title="Favourite"></i>
          <span class="price">$ <%= card.price %></span>
        </div>
      </div>
    <% } %>
    </div>
    <div class="header-container">
      <h1>My Cards</h1>
      <a class="add-card-link" href="/cards/new">+ New Card</a>
    </div>
    <div class="cards">
    <% for (let card of myCards) { %>
      <div class="card-container">
        <%- include('./partials/_card.ejs', {card: card}) %>
        <div class="info">
          <i class="fa-solid fa-pen edit-icon" title="Edit card"></i>
          <span class="price">$ <%= card.price %></span>
        </div>
      </div>
    <% } %>
    </div>

  </main>
    <!-- footer -->
    <%- include('partials/_footer') %>

</body>

</html>
