<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/message.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
  <script defer src="/scripts/message.js"></script>

</head>

<body>
  <div class="message-frame">
    <% for (let message of messages) { %>
    <div class="<%= userID === message.sender_id ? 'message-line right' : 'message-line left' %>">
      <span><%= userID === message.sender_id ? 'You': message.sender %>, <%= new Intl.DateTimeFormat('en-GB', {
        year: 'numeric',
        month: 'long',
        day: '2-digit',
        hour: 'numeric',
        minute: 'numeric'
      }).format(message.timestamp) %></span>
      <div class="<%= userID === message.sender_id ? 'message-box user' : 'message-box' %>">
        <p><%= message.message %></p>
      </div>
    </div>
  <% } %>
  </div>
</body>
</html>
