<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% for (let card of cards) {console.log(card.id) %>
  <title><%= card.title%></title>
  <link rel="stylesheet" href="/styles/card:id.css">
</head>
<body>
  <div>

    <img src="<%= card.card_front_url %>" alt="photo of card">
    <img src="<%= card.card_back_url %>" alt="photo of card">
    <img src="" alt="stage of card">
  </div>
  <div class="user-card-card">
    <div id="user-card">
      <img src="" alt="">
      <p>Jimmy Wright</p>
    </div>
    <div id="card-card">
      <div id="player-card">

        <p><%= card.player_name%></p>
        <p><%= card.title %></p>
      </div>
      <div>
        <p>Sport: <%= card.sport%></p>
        <p>Description: <%= card.description %></p>
      </div>

    </div>
    <div id="price-info">
      <h1>$10.05</h1>
      <div id="favourites">
        <form action="">
          <button>Contact Seller</button>
        </form>
        <form action="/herocard/<%= card.id%>" method="POST">
          <button> Add to favourites </button>
      </form>
      <% } %>
      </div>
    </div>
  </div>
</body>
</html>
