<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sidebar Messages | Card Heroes</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/sidebar-messages.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/sidebar-messages.js"></script>
</head>

<body>
  <ul class="message-list">
    <% for (let message of messages) { %>
      <li class="message" id="<%= message.id %>">
        <% if (message.sender[0].id === userID) { %>
        <h3><%= message.receiver[0].name %></h3>
        <p>You: <%= message.message %></p>
        <% } else { %>
        <h3><%= message.sender[0].name %></h3>
        <p><%= message.sender[0].name %>: <%= message.message %></p>
        <% } %>
      </li>
    <% } %>
  </ul>
  <div id="template-vars" style="display: none;" data-user-name="<%= user[0].name %>"></div>
 </body>
 </html>
