<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= card.title %> | Card Heroes</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/herocard.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/footer.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/searchbar.js"></script>
</head>
<body>
<%- include('partials/_header') %>

<main class="main-herocard">
  <div class="herocard-container">
    <div class="card">
      <div class="card-img front" style="background-image: url('<%= card.card_front_url %>');"></div>
      <div class="card-img back" style="background-image: url('<%= card.card_back_url %>');"></div>
    </div>
  </div>

  <div class="info-container">
    <div class="info-block">
      <img class="avatar" src="https://i.pravatar.cc/200?img=<%= card.seller_name %>">
      <h2 class="user-name"><%= card.name %></h2>
    </div>
    <div class="info-block">
      <h2><%= card.player_name %></h2>
      <h3><%= card.title %></h3>
      <p>Sport: <%= card.sport %></p>
      <p>Brand: <%= card.brand %></p>
      <p><%= card.description %></p>
    </div>
    <div class="info-block">
      <span>$ <%= card.price %>.00</span>
      <div class="button-container">
        <form action="<%= favourites.count === '0' ? `/herocard/${card.id}` : `/herocard/remove/${card.id}` %>" method="POST">
        <button class="fav-btn"><%= favourites.count === '0' ? 'Add to favourites' : 'Remove' %></button>
        </form>
        <% if(card.user_id != userID) { %>
          <a href="/messages/<%= card.id %>" class="contact-btn">Contact Seller</a>
        <% } %>
      </div>
    </div>
  </div>

</main>

<%- include('partials/_footer') %>
</body>
</html>
