<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= cards.title%></title>

  <link rel="stylesheet" href="/styles/herocard.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/footer.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <%- include('partials/_header') %>
  <div class="cards">

    <img class="card" src="<%= cards.card_front_url %>" alt="photo of card">
    <img class="card"src="<%= cards.card_back_url %>" alt="photo of card">

  </div>
  <img src="" alt="stage of card">
  <div class="user-card-card">
    <div id="user-card">
      <img src="" alt="">
      <p>Jimmy Wright</p>
    </div>
    <div id="card-card">
      <div id="player-card">

        <p><%= cards.player_name%></p>
        <p><%= cards.title %></p>
      </div>
      <div>
        <p>Sport: <%= cards.sport%></p>
        <p>Description: <%= cards.description %></p>
      </div>

    </div>
    <div id="price-info">
      <span>$<%= cards.price %></span>
      <div id="favourites">
          <a href="/messages/43">Contact Seller</a>
        <% if (favourites) { %>
          <form action="/herocard/remove/<%= cards.id%>" method="POST">
            <button> Remove </button></a>
        </form>
        <% } %>
        <% if (!favourites) { %>
          <form action="/herocard/<%= cards.id %>" method="POST">
            <button> Add to favourites </button>
          </form>
        <% } %>
      </div>
    </div>
  </div>
</body>
</html>
